#banner {
    position: absolute;
    background: var(--color-bg);
    inset: 0;
    top: unset;
    padding: 16px;
    z-index: 999999999;
    border-top: 1px solid currentColor;
}

#banner a {
    color: var(--color-accent);
}

#close-banner {
    float: right;
}

:root {
    --color: #292a2c;
    --color-bg: #fffefb;
    --color-bg-hover: #f0f1f3;
    --color-bg-active: #dee0e3;
    --color-bg-active-dark: #cdd0d5;
    --color-blobs: #4b85f9;

    --nav-radius: 0;

    --color-accent: #2d4f94;

    /* #082234 */
    --bounce: linear(0, 0.008 1.1%, 0.029 2.2%, 0.118 4.8%, 0.621 14.5%, 0.821 19.2%, 0.895 21.5%, 0.956 23.9%, 1.003 26.4%, 1.036 29%, 1.061 32.6%, 1.067 36.7%, 1.015 54.2%, 1 62.4%, 1);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color: #ebeae7;
        --color-bg: #191a1b;
    }
} */

@font-face {
    font-family: serif-font;
    src: url("./dm_serif.ttf");
}

@font-face {
    font-family: sans-serif-font;
    src: url("./dm_sans.ttf");
}

html, body {
    height: 100%;
    font-size: 18px;
    color: var(--color);
    background: var(--color-bg);
    overflow: hidden;
    font-family: serif-font, serif;
}

::selection {
    background: var(--color-accent);
    color: var(--color-bg);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
    font-family: inherit;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, header {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2em;
    transform: translateY(-2.5px);
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

h3 {
    font-size: 1.15em;
    font-weight: normal;
}

p, li {
    line-height: 1.6;
}

p, li, footer {
    font-family: sans-serif-font, sans-serif;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: max(10px, 10%);
    padding-left: 50px;
    background: var(--color-bg-hover);
    z-index: 10;
}

nav, #inverted-nav {
    padding-bottom: 2px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    position: relative;
}

#inverted-nav {
    justify-content: start;
}

a {
    cursor: pointer;
    color: inherit;
    outline: none;
}

a:not(header a):focus-visible {
    outline: 2px solid var(--color-accent);
}

nav a, #inverted-nav a {
    position: relative;
    width: max-content;
    font-weight: 600;
    text-decoration: none;
    padding: 0 17.5px;
    padding-top: 4.5px;
    padding-bottom: 6.5px;
    text-align: center;
    transition: background 0.5s linear;
}

nav a::after {
    content: "";
    position: absolute;
    inset: 2.5px;
    background: var(--color-bg-active);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

nav a.selected::after {
    opacity: 1;
}

#inverted-nav {
    background: var(--color);
    position: absolute;
    pointer-events: none;
    transition: clip-path 0.3s ease;
    inset: 0;
    clip-path: inset(100% 100% 100% 100%);
}

#inverted-nav a {
    color: var(--color-bg);
}

section {
    position: fixed;
    inset: 75px 0;
    padding: 50px;
    overflow: auto;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    transition: clip-path 0.5s ease;
    clip-path: inset(0 0 0 0);
    z-index: 3;
}

section.hidden {
    clip-path: inset(50% 50% 50% 50%);
    z-index: 2;
}

section.low-z {
    z-index: 2;
}

#piece {
    z-index: 5;
    transition: transform 0.2s ease, opacity 0.1s linear;
}

#piece.hidden {
    z-index: 2;
    opacity: 0;
    transform: translateY(50%);
}

form, #form-complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: min(100%, 400px);
}

#form-complete {
    text-align: center;
}

input[type="text"], input[type="email"], textarea {
    outline: 1px solid var(--color);
    transition: outline-offset 0.15s ease, padding 0.15s ease, margin 0.15s ease;
    padding: 5px;
    font-size: inherit;
    width: 100%;
    min-height: 35.5px;
    color: inherit;
    resize: vertical;
    display: block;
    font-family: sans-serif-font, sans-serif;
}

textarea {
    height: 100px;
    max-height: calc(100svh - 100px - (35.5px * 2) - 34.5px - 60px - 100px);
    background-image: none;
}

::-webkit-resizer {
    background-color: transparent;
}

.textarea-resizer {
    pointer-events: none;
    position: absolute;
    right: 1px;
    bottom: 1px;
    height: 12px;
    width: 12px;
    background: var(--color-bg);
    outline: 1px solid var(--color-bg);
    border-top-left-radius: 10px;
}

.textarea-resizer svg {
    color: var(--color);
    position: absolute;
    inset: 0;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper > label {
    position: absolute;
    left: 3px;
    top: 5px;
    pointer-events: none;
    padding: 0 2px;
    transition: transform 0.15s ease, font-size 0.15s ease;
    font-family: sans-serif-font, sans-serif;
}

.input-wrapper > label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 6px;
    background: var(--color-bg);
    transform: translateY(-50%);
    z-index: -1;
}

.input-wrapper:has(:where(input, textarea):not(:placeholder-shown), :where(input, textarea):focus) > label {
    transform: translateY(-20px);
    font-size: 0.875em;
}

:where(input[type="text"], input[type="email"], textarea):is(:focus-visible, :not(:placeholder-shown)) {
    outline-offset: 2px;
}

#submit {
    font-size: inherit;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    transition: outline-offset 0.15s ease;
    background: var(--color);
    color: var(--color-bg);
    outline: 2px solid var(--color);
    outline-offset: -2px;
}

#submit:hover {
    outline-offset: 0;
}

#submit:active {
    outline-offset: -1px;
}

#submit:focus-visible:not(:hover) {
    transition: none;
    outline: 1px solid var(--color);
    outline-offset: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--color-bg) inset !important;
    color: var(--color) !important;
}

#email-span {
    display: inline-block;
    font-size: 0.75em;
    margin-top: -15px;
    width: 100%;
    font-family: sans-serif-font, sans-serif;
}

#email-address {
    user-select: all;
}

#email-address:hover {
    outline: 1px solid var(--color);
    outline-offset: 1px;
}

#recordings {
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
}

#recordings iframe {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    outline: 1px solid currentColor;
    outline-offset: 5px;
}

details {
    interpolate-size: allow-keywords;
    transition: outline-offset 0.15s ease;
    /* outline: 1px solid var(--color); */
    margin-bottom: 10px;
    position: relative;
}

details::before {
    content: "";
    position: absolute;
    inset: var(--outline-offset, 0);
    /* bottom: calc(100% - 47px - var(--outline-offset, 0px)); */
    border: 1px solid var(--color);
    pointer-events: none;
    transition: inset 0.15s ease;
}

details:has(summary:hover) {
    --outline-offset: -2px;
}

details:has(summary:active) {
    --outline-offset: -1px;
}

details:has(summary:focus-visible:not(:hover)) {
    --outline-offset: -2px;
}

details:has(summary:focus-visible:not(:hover))::before {
    border-color: var(--color-accent);
    border-width: 2px;
}

details::details-content {
    overflow: hidden;
    height: 0;
    transition: height 0.4s var(--bounce), content-visibility 0.2s linear, margin 0.2s ease, padding 0.2s ease;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    height: auto;
}

summary {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.1s linear;
    cursor: pointer;
    outline: none;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

summary > svg, footer svg, .icon-button > svg {
    height: 1.25rem;
    width: 1.25rem;
    transition: transform 0.4s var(--bounce);
    margin-left: auto;
}

.icon-button:focus-visible {
    outline: 2px solid var(--color-accent);
}

details[open] > summary > svg {
    transform: rotate(90deg);
}

summary::marker {
    display: none;
    content: "";
}

.details-content {
    position: relative;
    padding: 10px;
    padding-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-content li {
    position: relative;
    padding-left: 10px;
}

/* .details-content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    aspect-ratio: 1;
    background: currentColor;
    width: 0.5ch;
} */

.details-content li > div {
    white-space: nowrap;
}

.details-content li > div > a {
    color: var(--color-accent);
}

.details-content li > div > a:focus-visible {
    outline: 1px solid var(--color-accent);
}

.details-content li > div > div {
    white-space: nowrap;
    display: inline;
}

i + .comma {
    font-style: italic;
}

.sub-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

details:has(summary:hover)::details-content {
    margin: 0 -2px;
    padding: 0 2px;
    --inset: -2px;
}

details:has(summary:active)::details-content {
    margin: 0 -1px;
    padding: 0 1px;
    --inset: -1px;
}

details:has(summary:focus-visible:not(:hover))::details-content {
    margin: 0 -2px;
    padding: 0 2px;
    --inset: -2px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-top: 30px;
}

.video-wrapper > iframe {
    max-width: 100%;
    outline: 1px solid currentColor;
    outline-offset: 5px;
}

footer {
    padding: 25px 50px;
    margin-top: auto;
    background: var(--color-bg-hover);
    position: absolute;
    inset: 0;
    top: unset;
}

#copyright {
    margin-left: auto;
    font-size: 0.75em;
    display: flex;
    align-items: center;
}

#links {
    display: flex;
    gap: 15px;
}

#links > a {
    display: flex;
    align-items: start;
    gap: 5px;
    text-decoration-color: transparent;
    position: relative;
}

#links > a::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    transition: inset 0.2s ease, height 0.2s ease;
    bottom: 0;
    height: 2px;
    background: currentColor;
}

#links > a:is(:hover, :focus-visible)::after {
    left: 0;
    right: 0;
}

#links > a:active::after {
    height: 1px;
}

#youtube-link {
    color: rgb(255, 0, 51);
}

#email-link {
    color: var(--color-accent);
}

.piece-title {
    display: flex;
    gap: 10px;
}

.piece-desc {
    margin: 0 auto;
    margin-top: 25px;
    text-align: justify;
    max-width: 65ch;
}

.icon-button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: background 0.1s linear;
    cursor: pointer;
    --hover: var(--color-bg-hover);
    --active: var(--color-bg-active);
}

.icon-button:focus-visible {
    outline: 1px solid var(--color);
}

.icon-button:hover {
    background: var(--hover);
}

.icon-button:active {
    background: var(--active);
}

.icon-button > svg {
    margin-left: 0;
}

#hamburger-button {
    display: none;
}

@media (max-width: 700px) {
    nav, #inverted-nav {
        flex-direction: column;
        padding: 15px;
        padding-right: 10px;
        justify-content: start;
    }

    nav {
        background: var(--color-bg-hover);
        position: absolute;
        right: -5px;
        top: 100%;
        width: 50%;
        height: calc(100vh - 70px);
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.5s ease, right 0.5s ease;
        outline: 5px solid var(--color-bg);
        outline-offset: -5px;
    }

    nav.closed:not(:has(:focus-visible)) {
        clip-path: inset(0 100% 0 0);
        right: -100%;
    }

    nav a, #inverted-nav a {
        width: 100%;
        text-align: left;
        padding-top: 7.5px;
        padding-bottom: 9.5px;
        transform: translate(-2.5px, -2.5px);
    }

    /* nav a.selected {
        box-shadow: inset 0 5px 0 var(--color-bg-hover), inset 0 -5px 0 var(--color-bg-hover);
    } */

    #hamburger-button {
        display: flex;
        position: absolute;
        right: 17.5px;
        --hover: var(--color-bg-active);
        --active: var(--color-bg-active-dark);
    }
}

#bio {
    text-align: justify;
}

#portrait {
    float: right;
    aspect-ratio: 8.5 / 11;
    width: 250px;
    border: 1px solid var(--color);
    font-style: italic;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
}
